set default=0
set timeout=5

insmod all_video
insmod gfxterm
terminal_output gfxterm

set menu_color_normal=cyan/black
set menu_color_highlight=black/cyan

menuentry "Lipi OS Live (CLI)" {
    linux /live/vmlinuz boot=live components quiet hostname=lipi-os
    initrd /live/initrd.img
}

menuentry "Lipi OS Live (safe graphics / debug)" {
    linux /live/vmlinuz boot=live components hostname=lipi-os
    initrd /live/initrd.img
}

menuentry "Boot from first hard disk" {
    exit
}
